{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
    - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
    - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
    - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
    - show_badge: {String} The setting either show the blog badge or not.
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}
{% assign x0001 = 1 %}
{% assign x0002 = 1 %}
{% assign x0003 = 1 %}
{% assign x0004 = 1 %}
{% assign x0005 = 1 %}
{% assign x0006 = 1 %}
{% assign x0007 = 1 %}
{% assign x0008 = 1 %}
{% assign x0009 = 1 %}
{% assign x0010 = 1 %}
{% assign x0011 = 1 %}
{% assign x0012 = 1 %}
{% assign x0013 = 1 %}
{% assign x0014 = 1 %}
{% assign x0015 = 1 %}
{% assign x0016 = 1 %}
{% assign x0017 = 1 %}
{% assign x0018 = 1 %}
{% assign x0019 = 1 %}
{% assign x0020 = 1 %}
{% assign x0021 = 1 %}
{% assign x0022 = 1 %}
{% assign x0023 = 1 %}
{% assign x0024 = 1 %}
{% assign x0025 = 1 %}
{% assign x0026 = 1 %}
{% assign x0027 = 1 %}
{% assign x0028 = 1 %}
{% assign x0029 = 1 %}
{% assign x0030 = 1 %}
{% assign x0031 = 1 %}
{% assign x0032 = 1 %}
{% assign x0033 = 1 %}
{% assign x0034 = 1 %}
{% assign x0035 = 1 %}
{% assign x0036 = 1 %}
{% assign x0037 = 1 %}
{% assign x0038 = 1 %}
{% assign x0039 = 1 %}
{% assign x0040 = 1 %}
{% assign x0041 = 1 %}
{% assign x0042 = 1 %}
{% assign x0043 = 1 %}
{% assign x0044 = 1 %}
{% assign x0045 = 1 %}
{% assign x0046 = 1 %}
{% assign x0047 = 1 %}
{% assign x0048 = 1 %}
{% assign x0049 = 1 %}
{% assign x0050 = 1 %}
{% assign x0051 = 1 %}
{% assign x0052 = 1 %}
{% assign x0053 = 1 %}
{% assign x0054 = 1 %}
{% assign x0055 = 1 %}
{% assign x0056 = 1 %}
{% assign x0057 = 1 %}
{% assign x0058 = 1 %}
{% assign x0059 = 1 %}
{% assign x0060 = 1 %}
{% assign x0061 = 1 %}
{% assign x0062 = 1 %}
{% assign x0063 = 1 %}
{% assign x0064 = 1 %}
{% assign x0065 = 1 %}
{% assign x0066 = 1 %}
{% assign x0067 = 1 %}
{% assign x0068 = 1 %}
{% assign x0069 = 1 %}
{% assign x0070 = 1 %}
{% assign x0071 = 1 %}
{% assign x0072 = 1 %}
{% assign x0073 = 1 %}
{% assign x0074 = 1 %}
{% assign x0075 = 1 %}
{% assign x0076 = 1 %}
{% assign x0077 = 1 %}
{% assign x0078 = 1 %}
{% assign x0079 = 1 %}
{% assign x0080 = 1 %}
{% assign x0081 = 1 %}
{% assign x0082 = 1 %}
{% assign x0083 = 1 %}
{% assign x0084 = 1 %}
{% assign x0085 = 1 %}
{% assign x0086 = 1 %}
{% assign x0087 = 1 %}
{% assign x0088 = 1 %}
{% assign x0089 = 1 %}
{% assign x0090 = 1 %}
{% assign x0091 = 1 %}
{% assign x0092 = 1 %}
{% assign x0093 = 1 %}
{% assign x0094 = 1 %}
{% assign x0095 = 1 %}
{% assign x0096 = 1 %}
{% assign x0097 = 1 %}
{% assign x0098 = 1 %}
{% assign x0099 = 1 %}
{% assign x0100 = 1 %}
{% assign x0101 = 1 %}
{% assign x0102 = 1 %}
{% assign x0103 = 1 %}
{% assign x0104 = 1 %}
{% assign x0105 = 1 %}
{% assign x0106 = 1 %}
{% assign x0107 = 1 %}
{% assign x0108 = 1 %}
{% assign x0109 = 1 %}
{% assign x0110 = 1 %}
{% assign x0111 = 1 %}
{% assign x0112 = 1 %}
{% assign x0113 = 1 %}
{% assign x0114 = 1 %}
{% assign x0115 = 1 %}
{% assign x0116 = 1 %}
{% assign x0117 = 1 %}
{% assign x0118 = 1 %}
{% assign x0119 = 1 %}
{% assign x0120 = 1 %}
{% assign x0121 = 1 %}
{% assign x0122 = 1 %}
{% assign x0123 = 1 %}
{% assign x0124 = 1 %}
{% assign x0125 = 1 %}
{% assign x0126 = 1 %}
{% assign x0127 = 1 %}
{% assign x0128 = 1 %}
{% assign x0129 = 1 %}
{% assign x0130 = 1 %}
{% assign x0131 = 1 %}
{% assign x0132 = 1 %}
{% assign x0133 = 1 %}
{% assign x0134 = 1 %}
{% assign x0135 = 1 %}
{% assign x0136 = 1 %}
{% assign x0137 = 1 %}
{% assign x0138 = 1 %}
{% assign x0139 = 1 %}
{% assign x0140 = 1 %}
{% assign x0141 = 1 %}
{% assign x0142 = 1 %}
{% assign x0143 = 1 %}
{% assign x0144 = 1 %}
{% assign x0145 = 1 %}
{% assign x0146 = 1 %}
{% assign x0147 = 1 %}
{% assign x0148 = 1 %}
{% assign x0149 = 1 %}
{% assign x0150 = 1 %}
{% assign x0151 = 1 %}
{% assign x0152 = 1 %}
{% assign x0153 = 1 %}
{% assign x0154 = 1 %}
{% assign x0155 = 1 %}
{% assign x0156 = 1 %}
{% assign x0157 = 1 %}
{% assign x0158 = 1 %}
{% assign x0159 = 1 %}
{% assign x0160 = 1 %}
{% assign x0161 = 1 %}
{% assign x0162 = 1 %}
{% assign x0163 = 1 %}
{% assign x0164 = 1 %}
{% assign x0165 = 1 %}
{% assign x0166 = 1 %}
{% assign x0167 = 1 %}
{% assign x0168 = 1 %}
{% assign x0169 = 1 %}
{% assign x0170 = 1 %}
{% assign x0171 = 1 %}
{% assign x0172 = 1 %}
{% assign x0173 = 1 %}
{% assign x0174 = 1 %}
{% assign x0175 = 1 %}
{% assign x0176 = 1 %}
{% assign x0177 = 1 %}
{% assign x0178 = 1 %}
{% assign x0179 = 1 %}
{% assign x0180 = 1 %}
{% assign x0181 = 1 %}
{% assign x0182 = 1 %}
{% assign x0183 = 1 %}
{% assign x0184 = 1 %}
{% assign x0185 = 1 %}
{% assign x0186 = 1 %}
{% assign x0187 = 1 %}
{% assign x0188 = 1 %}
{% assign x0189 = 1 %}
{% assign x0190 = 1 %}
{% assign x0191 = 1 %}
{% assign x0192 = 1 %}
{% assign x0193 = 1 %}
{% assign x0194 = 1 %}
{% assign x0195 = 1 %}
{% assign x0196 = 1 %}
{% assign x0197 = 1 %}
{% assign x0198 = 1 %}
{% assign x0199 = 1 %}
{% assign x0200 = 1 %}
{% assign x0201 = 1 %}
{% assign x0202 = 1 %}
{% assign x0203 = 1 %}
{% assign x0204 = 1 %}
{% assign x0205 = 1 %}
{% assign x0206 = 1 %}
{% assign x0207 = 1 %}
{% assign x0208 = 1 %}
{% assign x0209 = 1 %}
{% assign x0210 = 1 %}
{% assign x0211 = 1 %}
{% assign x0212 = 1 %}
{% assign x0213 = 1 %}
{% assign x0214 = 1 %}
{% assign x0215 = 1 %}
{% assign x0216 = 1 %}
{% assign x0217 = 1 %}
{% assign x0218 = 1 %}
{% assign x0219 = 1 %}
{% assign x0220 = 1 %}
{% assign x0221 = 1 %}
{% assign x0222 = 1 %}
{% assign x0223 = 1 %}
{% assign x0224 = 1 %}
{% assign x0225 = 1 %}
{% assign x0226 = 1 %}
{% assign x0227 = 1 %}
{% assign x0228 = 1 %}
{% assign x0229 = 1 %}
{% assign x0230 = 1 %}
{% assign x0231 = 1 %}
{% assign x0232 = 1 %}
{% assign x0233 = 1 %}
{% assign x0234 = 1 %}
{% assign x0235 = 1 %}
{% assign x0236 = 1 %}
{% assign x0237 = 1 %}
{% assign x0238 = 1 %}
{% assign x0239 = 1 %}
{% assign x0240 = 1 %}
{% assign x0241 = 1 %}
{% assign x0242 = 1 %}
{% assign x0243 = 1 %}
{% assign x0244 = 1 %}
{% assign x0245 = 1 %}
{% assign x0246 = 1 %}
{% assign x0247 = 1 %}
{% assign x0248 = 1 %}
{% assign x0249 = 1 %}
{% assign x0250 = 1 %}
{% assign x0251 = 1 %}
{% assign x0252 = 1 %}
{% assign x0253 = 1 %}
{% assign x0254 = 1 %}
{% assign x0255 = 1 %}
{% assign x0256 = 1 %}
{% assign x0257 = 1 %}
{% assign x0258 = 1 %}
{% assign x0259 = 1 %}
{% assign x0260 = 1 %}
{% assign x0261 = 1 %}
{% assign x0262 = 1 %}
{% assign x0263 = 1 %}
{% assign x0264 = 1 %}
{% assign x0265 = 1 %}
{% assign x0266 = 1 %}
{% assign x0267 = 1 %}
{% assign x0268 = 1 %}
{% assign x0269 = 1 %}
{% assign x0270 = 1 %}
{% assign x0271 = 1 %}
{% assign x0272 = 1 %}
{% assign x0273 = 1 %}
{% assign x0274 = 1 %}
{% assign x0275 = 1 %}
{% assign x0276 = 1 %}
{% assign x0277 = 1 %}
{% assign x0278 = 1 %}
{% assign x0279 = 1 %}
{% assign x0280 = 1 %}
{% assign x0281 = 1 %}
{% assign x0282 = 1 %}
{% assign x0283 = 1 %}
{% assign x0284 = 1 %}
{% assign x0285 = 1 %}
{% assign x0286 = 1 %}
{% assign x0287 = 1 %}
{% assign x0288 = 1 %}
{% assign x0289 = 1 %}
{% assign x0290 = 1 %}
{% assign x0291 = 1 %}
{% assign x0292 = 1 %}
{% assign x0293 = 1 %}
{% assign x0294 = 1 %}
{% assign x0295 = 1 %}
{% assign x0296 = 1 %}
{% assign x0297 = 1 %}
{% assign x0298 = 1 %}
{% assign x0299 = 1 %}
{% assign x0300 = 1 %}
{% assign x0301 = 1 %}
{% assign x0302 = 1 %}
{% assign x0303 = 1 %}
{% assign x0304 = 1 %}
{% assign x0305 = 1 %}
{% assign x0306 = 1 %}
{% assign x0307 = 1 %}
{% assign x0308 = 1 %}
{% assign x0309 = 1 %}
{% assign x0310 = 1 %}
{% assign x0311 = 1 %}
{% assign x0312 = 1 %}
{% assign x0313 = 1 %}
{% assign x0314 = 1 %}
{% assign x0315 = 1 %}
{% assign x0316 = 1 %}
{% assign x0317 = 1 %}
{% assign x0318 = 1 %}
{% assign x0319 = 1 %}
{% assign x0320 = 1 %}
{% assign x0321 = 1 %}
{% assign x0322 = 1 %}
{% assign x0323 = 1 %}
{% assign x0324 = 1 %}
{% assign x0325 = 1 %}
{% assign x0326 = 1 %}
{% assign x0327 = 1 %}
{% assign x0328 = 1 %}
{% assign x0329 = 1 %}
{% assign x0330 = 1 %}
{% assign x0331 = 1 %}
{% assign x0332 = 1 %}
{% assign x0333 = 1 %}
{% assign x0334 = 1 %}
{% assign x0335 = 1 %}
{% assign x0336 = 1 %}
{% assign x0337 = 1 %}
{% assign x0338 = 1 %}
{% assign x0339 = 1 %}
{% assign x0340 = 1 %}
{% assign x0341 = 1 %}
{% assign x0342 = 1 %}
{% assign x0343 = 1 %}
{% assign x0344 = 1 %}
{% assign x0345 = 1 %}
{% assign x0346 = 1 %}
{% assign x0347 = 1 %}
{% assign x0348 = 1 %}
{% assign x0349 = 1 %}
{% assign x0350 = 1 %}
{% assign x0351 = 1 %}
{% assign x0352 = 1 %}
{% assign x0353 = 1 %}
{% assign x0354 = 1 %}
{% assign x0355 = 1 %}
{% assign x0356 = 1 %}
{% assign x0357 = 1 %}
{% assign x0358 = 1 %}
{% assign x0359 = 1 %}
{% assign x0360 = 1 %}
{% assign x0361 = 1 %}
{% assign x0362 = 1 %}
{% assign x0363 = 1 %}
{% assign x0364 = 1 %}
{% assign x0365 = 1 %}
{% assign x0366 = 1 %}
{% assign x0367 = 1 %}
{% assign x0368 = 1 %}
{% assign x0369 = 1 %}
{% assign x0370 = 1 %}
{% assign x0371 = 1 %}
{% assign x0372 = 1 %}
{% assign x0373 = 1 %}
{% assign x0374 = 1 %}
{% assign x0375 = 1 %}
{% assign x0376 = 1 %}
{% assign x0377 = 1 %}
{% assign x0378 = 1 %}
{% assign x0379 = 1 %}
{% assign x0380 = 1 %}
{% assign x0381 = 1 %}
{% assign x0382 = 1 %}
{% assign x0383 = 1 %}
{% assign x0384 = 1 %}
{% assign x0385 = 1 %}
{% assign x0386 = 1 %}
{% assign x0387 = 1 %}
{% assign x0388 = 1 %}
{% assign x0389 = 1 %}
{% assign x0390 = 1 %}
{% assign x0391 = 1 %}
{% assign x0392 = 1 %}
{% assign x0393 = 1 %}
{% assign x0394 = 1 %}
{% assign x0395 = 1 %}
{% assign x0396 = 1 %}
{% assign x0397 = 1 %}
{% assign x0398 = 1 %}
{% assign x0399 = 1 %}
{% assign x0400 = 1 %}
{% assign x0401 = 1 %}
{% assign x0402 = 1 %}
{% assign x0403 = 1 %}
{% assign x0404 = 1 %}
{% assign x0405 = 1 %}
{% assign x0406 = 1 %}
{% assign x0407 = 1 %}
{% assign x0408 = 1 %}
{% assign x0409 = 1 %}
{% assign x0410 = 1 %}
{% assign x0411 = 1 %}
{% assign x0412 = 1 %}
{% assign x0413 = 1 %}
{% assign x0414 = 1 %}
{% assign x0415 = 1 %}
{% assign x0416 = 1 %}
{% assign x0417 = 1 %}
{% assign x0418 = 1 %}
{% assign x0419 = 1 %}
{% assign x0420 = 1 %}
{% assign x0421 = 1 %}
{% assign x0422 = 1 %}
{% assign x0423 = 1 %}
{% assign x0424 = 1 %}
{% assign x0425 = 1 %}
{% assign x0426 = 1 %}
{% assign x0427 = 1 %}
{% assign x0428 = 1 %}
{% assign x0429 = 1 %}
{% assign x0430 = 1 %}
{% assign x0431 = 1 %}
{% assign x0432 = 1 %}
{% assign x0433 = 1 %}
{% assign x0434 = 1 %}
{% assign x0435 = 1 %}
{% assign x0436 = 1 %}
{% assign x0437 = 1 %}
{% assign x0438 = 1 %}
{% assign x0439 = 1 %}
{% assign x0440 = 1 %}
{% assign x0441 = 1 %}
{% assign x0442 = 1 %}
{% assign x0443 = 1 %}
{% assign x0444 = 1 %}
{% assign x0445 = 1 %}
{% assign x0446 = 1 %}
{% assign x0447 = 1 %}
{% assign x0448 = 1 %}
{% assign x0449 = 1 %}
{% assign x0450 = 1 %}
{% assign x0451 = 1 %}
{% assign x0452 = 1 %}
{% assign x0453 = 1 %}
{% assign x0454 = 1 %}
{% assign x0455 = 1 %}
{% assign x0456 = 1 %}
{% assign x0457 = 1 %}
{% assign x0458 = 1 %}
{% assign x0459 = 1 %}
{% assign x0460 = 1 %}
{% assign x0461 = 1 %}
{% assign x0462 = 1 %}
{% assign x0463 = 1 %}
{% assign x0464 = 1 %}
{% assign x0465 = 1 %}
{% assign x0466 = 1 %}
{% assign x0467 = 1 %}
{% assign x0468 = 1 %}
{% assign x0469 = 1 %}
{% assign x0470 = 1 %}
{% assign x0471 = 1 %}
{% assign x0472 = 1 %}
{% assign x0473 = 1 %}
{% assign x0474 = 1 %}
{% assign x0475 = 1 %}
{% assign x0476 = 1 %}
{% assign x0477 = 1 %}
{% assign x0478 = 1 %}
{% assign x0479 = 1 %}
{% assign x0480 = 1 %}
{% assign x0481 = 1 %}
{% assign x0482 = 1 %}
{% assign x0483 = 1 %}
{% assign x0484 = 1 %}
{% assign x0485 = 1 %}
{% assign x0486 = 1 %}
{% assign x0487 = 1 %}
{% assign x0488 = 1 %}
{% assign x0489 = 1 %}
{% assign x0490 = 1 %}
{% assign x0491 = 1 %}
{% assign x0492 = 1 %}
{% assign x0493 = 1 %}
{% assign x0494 = 1 %}
{% assign x0495 = 1 %}
{% assign x0496 = 1 %}
{% assign x0497 = 1 %}
{% assign x0498 = 1 %}
{% assign x0499 = 1 %}
{% assign x0500 = 1 %}
{% assign x0501 = 1 %}
{% assign x0502 = 1 %}
{% assign x0503 = 1 %}
{% assign x0504 = 1 %}
{% assign x0505 = 1 %}
{% assign x0506 = 1 %}
{% assign x0507 = 1 %}
{% assign x0508 = 1 %}
{% assign x0509 = 1 %}
{% assign x0510 = 1 %}
{% assign x0511 = 1 %}
{% assign x0512 = 1 %}
{% assign x0513 = 1 %}
{% assign x0514 = 1 %}
{% assign x0515 = 1 %}
{% assign x0516 = 1 %}
{% assign x0517 = 1 %}
{% assign x0518 = 1 %}
{% assign x0519 = 1 %}
{% assign x0520 = 1 %}
{% assign x0521 = 1 %}
{% assign x0522 = 1 %}
{% assign x0523 = 1 %}
{% assign x0524 = 1 %}
{% assign x0525 = 1 %}
{% assign x0526 = 1 %}
{% assign x0527 = 1 %}
{% assign x0528 = 1 %}
{% assign x0529 = 1 %}
{% assign x0530 = 1 %}
{% assign x0531 = 1 %}
{% assign x0532 = 1 %}
{% assign x0533 = 1 %}
{% assign x0534 = 1 %}
{% assign x0535 = 1 %}
{% assign x0536 = 1 %}
{% assign x0537 = 1 %}
{% assign x0538 = 1 %}
{% assign x0539 = 1 %}
{% assign x0540 = 1 %}
{% assign x0541 = 1 %}
{% assign x0542 = 1 %}
{% assign x0543 = 1 %}
{% assign x0544 = 1 %}
{% assign x0545 = 1 %}
{% assign x0546 = 1 %}
{% assign x0547 = 1 %}
{% assign x0548 = 1 %}
{% assign x0549 = 1 %}
{% assign x0550 = 1 %}
{% assign x0551 = 1 %}
{% assign x0552 = 1 %}
{% assign x0553 = 1 %}
{% assign x0554 = 1 %}
{% assign x0555 = 1 %}
{% assign x0556 = 1 %}
{% assign x0557 = 1 %}
{% assign x0558 = 1 %}
{% assign x0559 = 1 %}
{% assign x0560 = 1 %}
{% assign x0561 = 1 %}
{% assign x0562 = 1 %}
{% assign x0563 = 1 %}
{% assign x0564 = 1 %}
{% assign x0565 = 1 %}
{% assign x0566 = 1 %}
{% assign x0567 = 1 %}
{% assign x0568 = 1 %}
{% assign x0569 = 1 %}
{% assign x0570 = 1 %}
{% assign x0571 = 1 %}
{% assign x0572 = 1 %}
{% assign x0573 = 1 %}
{% assign x0574 = 1 %}
{% assign x0575 = 1 %}
{% assign x0576 = 1 %}
{% assign x0577 = 1 %}
{% assign x0578 = 1 %}
{% assign x0579 = 1 %}
{% assign x0580 = 1 %}
{% assign x0581 = 1 %}
{% assign x0582 = 1 %}
{% assign x0583 = 1 %}
{% assign x0584 = 1 %}
{% assign x0585 = 1 %}
{% assign x0586 = 1 %}
{% assign x0587 = 1 %}
{% assign x0588 = 1 %}
{% assign x0589 = 1 %}
{% assign x0590 = 1 %}
{% assign x0591 = 1 %}
{% assign x0592 = 1 %}
{% assign x0593 = 1 %}
{% assign x0594 = 1 %}
{% assign x0595 = 1 %}
{% assign x0596 = 1 %}
{% assign x0597 = 1 %}
{% assign x0598 = 1 %}
{% assign x0599 = 1 %}
{% assign x0600 = 1 %}
{% assign x0601 = 1 %}
{% assign x0602 = 1 %}
{% assign x0603 = 1 %}
{% assign x0604 = 1 %}
{% assign x0605 = 1 %}
{% assign x0606 = 1 %}
{% assign x0607 = 1 %}
{% assign x0608 = 1 %}
{% assign x0609 = 1 %}
{% assign x0610 = 1 %}
{% assign x0611 = 1 %}
{% assign x0612 = 1 %}
{% assign x0613 = 1 %}
{% assign x0614 = 1 %}
{% assign x0615 = 1 %}
{% assign x0616 = 1 %}
{% assign x0617 = 1 %}
{% assign x0618 = 1 %}
{% assign x0619 = 1 %}
{% assign x0620 = 1 %}
{% assign x0621 = 1 %}
{% assign x0622 = 1 %}
{% assign x0623 = 1 %}
{% assign x0624 = 1 %}
{% assign x0625 = 1 %}
{% assign x0626 = 1 %}
{% assign x0627 = 1 %}
{% assign x0628 = 1 %}
{% assign x0629 = 1 %}
{% assign x0630 = 1 %}
{% assign x0631 = 1 %}
{% assign x0632 = 1 %}
{% assign x0633 = 1 %}
{% assign x0634 = 1 %}
{% assign x0635 = 1 %}
{% assign x0636 = 1 %}
{% assign x0637 = 1 %}
{% assign x0638 = 1 %}
{% assign x0639 = 1 %}
{% assign x0640 = 1 %}
{% assign x0641 = 1 %}
{% assign x0642 = 1 %}
{% assign x0643 = 1 %}
{% assign x0644 = 1 %}
{% assign x0645 = 1 %}
{% assign x0646 = 1 %}
{% assign x0647 = 1 %}
{% assign x0648 = 1 %}
{% assign x0649 = 1 %}
{% assign x0650 = 1 %}
{% assign x0651 = 1 %}
{% assign x0652 = 1 %}
{% assign x0653 = 1 %}
{% assign x0654 = 1 %}
{% assign x0655 = 1 %}
{% assign x0656 = 1 %}
{% assign x0657 = 1 %}
{% assign x0658 = 1 %}
{% assign x0659 = 1 %}
{% assign x0660 = 1 %}
{% assign x0661 = 1 %}
{% assign x0662 = 1 %}
{% assign x0663 = 1 %}
{% assign x0664 = 1 %}
{% assign x0665 = 1 %}
{% assign x0666 = 1 %}
{% assign x0667 = 1 %}
{% assign x0668 = 1 %}
{% assign x0669 = 1 %}
{% assign x0670 = 1 %}
{% assign x0671 = 1 %}
{% assign x0672 = 1 %}
{% assign x0673 = 1 %}
{% assign x0674 = 1 %}
{% assign x0675 = 1 %}
{% assign x0676 = 1 %}
{% assign x0677 = 1 %}
{% assign x0678 = 1 %}
{% assign x0679 = 1 %}
{% assign x0680 = 1 %}
{% assign x0681 = 1 %}
{% assign x0682 = 1 %}
{% assign x0683 = 1 %}
{% assign x0684 = 1 %}
{% assign x0685 = 1 %}
{% assign x0686 = 1 %}
{% assign x0687 = 1 %}
{% assign x0688 = 1 %}
{% assign x0689 = 1 %}
{% assign x0690 = 1 %}
{% assign x0691 = 1 %}
{% assign x0692 = 1 %}
{% assign x0693 = 1 %}
{% assign x0694 = 1 %}
{% assign x0695 = 1 %}
{% assign x0696 = 1 %}
{% assign x0697 = 1 %}
{% assign x0698 = 1 %}
{% assign x0699 = 1 %}
{% assign x0700 = 1 %}
{% assign x0701 = 1 %}
{% assign x0702 = 1 %}
{% assign x0703 = 1 %}
{% assign x0704 = 1 %}
{% assign x0705 = 1 %}
{% assign x0706 = 1 %}
{% assign x0707 = 1 %}
{% assign x0708 = 1 %}
{% assign x0709 = 1 %}
{% assign x0710 = 1 %}
{% assign x0711 = 1 %}
{% assign x0712 = 1 %}
{% assign x0713 = 1 %}
{% assign x0714 = 1 %}
{% assign x0715 = 1 %}
{% assign x0716 = 1 %}
{% assign x0717 = 1 %}
{% assign x0718 = 1 %}
{% assign x0719 = 1 %}
{% assign x0720 = 1 %}
{% assign x0721 = 1 %}
{% assign x0722 = 1 %}
{% assign x0723 = 1 %}
{% assign x0724 = 1 %}
{% assign x0725 = 1 %}
{% assign x0726 = 1 %}
{% assign x0727 = 1 %}
{% assign x0728 = 1 %}
{% assign x0729 = 1 %}
{% assign x0730 = 1 %}
{% assign x0731 = 1 %}
{% assign x0732 = 1 %}
{% assign x0733 = 1 %}
{% assign x0734 = 1 %}
{% assign x0735 = 1 %}
{% assign x0736 = 1 %}
{% assign x0737 = 1 %}
{% assign x0738 = 1 %}
{% assign x0739 = 1 %}
{% assign x0740 = 1 %}
{% assign x0741 = 1 %}
{% assign x0742 = 1 %}
{% assign x0743 = 1 %}
{% assign x0744 = 1 %}
{% assign x0745 = 1 %}
{% assign x0746 = 1 %}
{% assign x0747 = 1 %}
{% assign x0748 = 1 %}
{% assign x0749 = 1 %}
{% assign x0750 = 1 %}
{% assign x0751 = 1 %}
{% assign x0752 = 1 %}
{% assign x0753 = 1 %}
{% assign x0754 = 1 %}
{% assign x0755 = 1 %}
{% assign x0756 = 1 %}
{% assign x0757 = 1 %}
{% assign x0758 = 1 %}
{% assign x0759 = 1 %}
{% assign x0760 = 1 %}
{% assign x0761 = 1 %}
{% assign x0762 = 1 %}
{% assign x0763 = 1 %}
{% assign x0764 = 1 %}
{% assign x0765 = 1 %}
{% assign x0766 = 1 %}
{% assign x0767 = 1 %}
{% assign x0768 = 1 %}
{% assign x0769 = 1 %}
{% assign x0770 = 1 %}
{% assign x0771 = 1 %}
{% assign x0772 = 1 %}
{% assign x0773 = 1 %}
{% assign x0774 = 1 %}
{% assign x0775 = 1 %}
{% assign x0776 = 1 %}
{% assign x0777 = 1 %}
{% assign x0778 = 1 %}
{% assign x0779 = 1 %}
{% assign x0780 = 1 %}
{% assign x0781 = 1 %}
{% assign x0782 = 1 %}
{% assign x0783 = 1 %}
{% assign x0784 = 1 %}
{% assign x0785 = 1 %}
{% assign x0786 = 1 %}
{% assign x0787 = 1 %}
{% assign x0788 = 1 %}
{% assign x0789 = 1 %}
{% assign x0790 = 1 %}
{% assign x0791 = 1 %}
{% assign x0792 = 1 %}
{% assign x0793 = 1 %}
{% assign x0794 = 1 %}
{% assign x0795 = 1 %}
{% assign x0796 = 1 %}
{% assign x0797 = 1 %}
{% assign x0798 = 1 %}
{% assign x0799 = 1 %}
{% assign x0800 = 1 %}
{% assign x0801 = 1 %}
{% assign x0802 = 1 %}
{% assign x0803 = 1 %}
{% assign x0804 = 1 %}
{% assign x0805 = 1 %}
{% assign x0806 = 1 %}
{% assign x0807 = 1 %}
{% assign x0808 = 1 %}
{% assign x0809 = 1 %}
{% assign x0810 = 1 %}
{% assign x0811 = 1 %}
{% assign x0812 = 1 %}
{% assign x0813 = 1 %}
{% assign x0814 = 1 %}
{% assign x0815 = 1 %}
{% assign x0816 = 1 %}
{% assign x0817 = 1 %}
{% assign x0818 = 1 %}
{% assign x0819 = 1 %}
{% assign x0820 = 1 %}
{% assign x0821 = 1 %}
{% assign x0822 = 1 %}
{% assign x0823 = 1 %}
{% assign x0824 = 1 %}
{% assign x0825 = 1 %}
{% assign x0826 = 1 %}
{% assign x0827 = 1 %}
{% assign x0828 = 1 %}
{% assign x0829 = 1 %}
{% assign x0830 = 1 %}
{% assign x0831 = 1 %}
{% assign x0832 = 1 %}
{% assign x0833 = 1 %}
{% assign x0834 = 1 %}
{% assign x0835 = 1 %}
{% assign x0836 = 1 %}
{% assign x0837 = 1 %}
{% assign x0838 = 1 %}
{% assign x0839 = 1 %}
{% assign x0840 = 1 %}
{% assign x0841 = 1 %}
{% assign x0842 = 1 %}
{% assign x0843 = 1 %}
{% assign x0844 = 1 %}
{% assign x0845 = 1 %}
{% assign x0846 = 1 %}
{% assign x0847 = 1 %}
{% assign x0848 = 1 %}
{% assign x0849 = 1 %}
{% assign x0850 = 1 %}
{% assign x0851 = 1 %}
{% assign x0852 = 1 %}
{% assign x0853 = 1 %}
{% assign x0854 = 1 %}
{% assign x0855 = 1 %}
{% assign x0856 = 1 %}
{% assign x0857 = 1 %}
{% assign x0858 = 1 %}
{% assign x0859 = 1 %}
{% assign x0860 = 1 %}
{% assign x0861 = 1 %}
{% assign x0862 = 1 %}
{% assign x0863 = 1 %}
{% assign x0864 = 1 %}
{% assign x0865 = 1 %}
{% assign x0866 = 1 %}
{% assign x0867 = 1 %}
{% assign x0868 = 1 %}
{% assign x0869 = 1 %}
{% assign x0870 = 1 %}
{% assign x0871 = 1 %}
{% assign x0872 = 1 %}
{% assign x0873 = 1 %}
{% assign x0874 = 1 %}
{% assign x0875 = 1 %}
{% assign x0876 = 1 %}
{% assign x0877 = 1 %}
{% assign x0878 = 1 %}
{% assign x0879 = 1 %}
{% assign x0880 = 1 %}
{% assign x0881 = 1 %}
{% assign x0882 = 1 %}
{% assign x0883 = 1 %}
{% assign x0884 = 1 %}
{% assign x0885 = 1 %}
{% assign x0886 = 1 %}
{% assign x0887 = 1 %}
{% assign x0888 = 1 %}
{% assign x0889 = 1 %}
{% assign x0890 = 1 %}
{% assign x0891 = 1 %}
{% assign x0892 = 1 %}
{% assign x0893 = 1 %}
{% assign x0894 = 1 %}
{% assign x0895 = 1 %}
{% assign x0896 = 1 %}
{% assign x0897 = 1 %}
{% assign x0898 = 1 %}
{% assign x0899 = 1 %}
{% assign x0900 = 1 %}
{% assign x0901 = 1 %}
{% assign x0902 = 1 %}
{% assign x0903 = 1 %}
{% assign x0904 = 1 %}
{% assign x0905 = 1 %}
{% assign x0906 = 1 %}
{% assign x0907 = 1 %}
{% assign x0908 = 1 %}
{% assign x0909 = 1 %}
{% assign x0910 = 1 %}
{% assign x0911 = 1 %}
{% assign x0912 = 1 %}
{% assign x0913 = 1 %}
{% assign x0914 = 1 %}
{% assign x0915 = 1 %}
{% assign x0916 = 1 %}
{% assign x0917 = 1 %}
{% assign x0918 = 1 %}
{% assign x0919 = 1 %}
{% assign x0920 = 1 %}
{% assign x0921 = 1 %}
{% assign x0922 = 1 %}
{% assign x0923 = 1 %}
{% assign x0924 = 1 %}
{% assign x0925 = 1 %}
{% assign x0926 = 1 %}
{% assign x0927 = 1 %}
{% assign x0928 = 1 %}
{% assign x0929 = 1 %}
{% assign x0930 = 1 %}
{% assign x0931 = 1 %}
{% assign x0932 = 1 %}
{% assign x0933 = 1 %}
{% assign x0934 = 1 %}
{% assign x0935 = 1 %}
{% assign x0936 = 1 %}
{% assign x0937 = 1 %}
{% assign x0938 = 1 %}
{% assign x0939 = 1 %}
{% assign x0940 = 1 %}
{% assign x0941 = 1 %}
{% assign x0942 = 1 %}
{% assign x0943 = 1 %}
{% assign x0944 = 1 %}
{% assign x0945 = 1 %}
{% assign x0946 = 1 %}
{% assign x0947 = 1 %}
{% assign x0948 = 1 %}
{% assign x0949 = 1 %}
{% assign x0950 = 1 %}
{% assign x0951 = 1 %}
{% assign x0952 = 1 %}
{% assign x0953 = 1 %}
{% assign x0954 = 1 %}
{% assign x0955 = 1 %}
{% assign x0956 = 1 %}
{% assign x0957 = 1 %}
{% assign x0958 = 1 %}
{% assign x0959 = 1 %}
{% assign x0960 = 1 %}
{% assign x0961 = 1 %}
{% assign x0962 = 1 %}
{% assign x0963 = 1 %}
{% assign x0964 = 1 %}
{% assign x0965 = 1 %}
{% assign x0966 = 1 %}
{% assign x0967 = 1 %}
{% assign x0968 = 1 %}
{% assign x0969 = 1 %}
{% assign x0970 = 1 %}
{% assign x0971 = 1 %}
{% assign x0972 = 1 %}
{% assign x0973 = 1 %}
{% assign x0974 = 1 %}
{% assign x0975 = 1 %}
{% assign x0976 = 1 %}
{% assign x0977 = 1 %}
{% assign x0978 = 1 %}
{% assign x0979 = 1 %}
{% assign x0980 = 1 %}
{% assign x0981 = 1 %}
{% assign x0982 = 1 %}
{% assign x0983 = 1 %}
{% assign x0984 = 1 %}
{% assign x0985 = 1 %}
{% assign x0986 = 1 %}
{% assign x0987 = 1 %}
{% assign x0988 = 1 %}
{% assign x0989 = 1 %}
{% assign x0990 = 1 %}
{% assign x0991 = 1 %}
{% assign x0992 = 1 %}
{% assign x0993 = 1 %}
{% assign x0994 = 1 %}
{% assign x0995 = 1 %}
{% assign x0996 = 1 %}
{% assign x0997 = 1 %}
{% assign x0998 = 1 %}
{% assign x0999 = 1 %}
{% assign x1000 = 1 %}
{% assign x1001 = 1 %}
{% assign x1002 = 1 %}
{% assign x1003 = 1 %}
{% assign x1004 = 1 %}
{% assign x1005 = 1 %}
{% assign x1006 = 1 %}
{% assign x1007 = 1 %}
{% assign x1008 = 1 %}
{% assign x1009 = 1 %}
{% assign x1010 = 1 %}
{% assign x1011 = 1 %}
{% assign x1012 = 1 %}
{% assign x1013 = 1 %}
{% assign x1014 = 1 %}
{% assign x1015 = 1 %}
{% assign x1016 = 1 %}
{% assign x1017 = 1 %}
{% assign x1018 = 1 %}
{% assign x1019 = 1 %}
{% assign x1020 = 1 %}
{% assign x1021 = 1 %}
{% assign x1022 = 1 %}
{% assign x1023 = 1 %}
{% assign x1024 = 1 %}
{% assign x1025 = 1 %}
{% assign x1026 = 1 %}
{% assign x1027 = 1 %}
{% assign x1028 = 1 %}
{% assign x1029 = 1 %}
{% assign x1030 = 1 %}
{% assign x1031 = 1 %}
{% assign x1032 = 1 %}
{% assign x1033 = 1 %}
{% assign x1034 = 1 %}
{% assign x1035 = 1 %}
{% assign x1036 = 1 %}
{% assign x1037 = 1 %}
{% assign x1038 = 1 %}
{% assign x1039 = 1 %}
{% assign x1040 = 1 %}
{% assign x1041 = 1 %}
{% assign x1042 = 1 %}
{% assign x1043 = 1 %}
{% assign x1044 = 1 %}
{% assign x1045 = 1 %}
{% assign x1046 = 1 %}
{% assign x1047 = 1 %}
{% assign x1048 = 1 %}
{% assign x1049 = 1 %}
{% assign x1050 = 1 %}
{% assign x1051 = 1 %}
{% assign x1052 = 1 %}
{% assign x1053 = 1 %}
{% assign x1054 = 1 %}
{% assign x1055 = 1 %}
{% assign x1056 = 1 %}
{% assign x1057 = 1 %}
{% assign x1058 = 1 %}
{% assign x1059 = 1 %}
{% assign x1060 = 1 %}
{% assign x1061 = 1 %}
{% assign x1062 = 1 %}
{% assign x1063 = 1 %}
{% assign x1064 = 1 %}
{% assign x1065 = 1 %}
{% assign x1066 = 1 %}
{% assign x1067 = 1 %}
{% assign x1068 = 1 %}
{% assign x1069 = 1 %}
{% assign x1070 = 1 %}
{% assign x1071 = 1 %}
{% assign x1072 = 1 %}
{% assign x1073 = 1 %}
{% assign x1074 = 1 %}
{% assign x1075 = 1 %}
{% assign x1076 = 1 %}
{% assign x1077 = 1 %}
{% assign x1078 = 1 %}
{% assign x1079 = 1 %}
{% assign x1080 = 1 %}
{% assign x1081 = 1 %}
{% assign x1082 = 1 %}
{% assign x1083 = 1 %}
{% assign x1084 = 1 %}
{% assign x1085 = 1 %}
{% assign x1086 = 1 %}
{% assign x1087 = 1 %}
{% assign x1088 = 1 %}
{% assign x1089 = 1 %}
{% assign x1090 = 1 %}
{% assign x1091 = 1 %}
{% assign x1092 = 1 %}
{% assign x1093 = 1 %}
{% assign x1094 = 1 %}
{% assign x1095 = 1 %}
{% assign x1096 = 1 %}
{% assign x1097 = 1 %}
{% assign x1098 = 1 %}
{% assign x1099 = 1 %}
{% assign x1100 = 1 %}
{% assign x1101 = 1 %}
{% assign x1102 = 1 %}
{% assign x1103 = 1 %}
{% assign x1104 = 1 %}
{% assign x1105 = 1 %}
{% assign x1106 = 1 %}
{% assign x1107 = 1 %}
{% assign x1108 = 1 %}
{% assign x1109 = 1 %}
{% assign x1110 = 1 %}
{% assign x1111 = 1 %}
{% assign x1112 = 1 %}
{% assign x1113 = 1 %}
{% assign x1114 = 1 %}
{% assign x1115 = 1 %}
{% assign x1116 = 1 %}
{% assign x1117 = 1 %}
{% assign x1118 = 1 %}
{% assign x1119 = 1 %}
{% assign x1120 = 1 %}
{% assign x1121 = 1 %}
{% assign x1122 = 1 %}
{% assign x1123 = 1 %}
{% assign x1124 = 1 %}
{% assign x1125 = 1 %}
{% assign x1126 = 1 %}
{% assign x1127 = 1 %}
{% assign x1128 = 1 %}
{% assign x1129 = 1 %}
{% assign x1130 = 1 %}
{% assign x1131 = 1 %}
{% assign x1132 = 1 %}
{% assign x1133 = 1 %}
{% assign x1134 = 1 %}
{% assign x1135 = 1 %}
{% assign x1136 = 1 %}
{% assign x1137 = 1 %}
{% assign x1138 = 1 %}
{% assign x1139 = 1 %}
{% assign x1140 = 1 %}
{% assign x1141 = 1 %}
{% assign x1142 = 1 %}
{% assign x1143 = 1 %}
{% assign x1144 = 1 %}
{% assign x1145 = 1 %}
{% assign x1146 = 1 %}
{% assign x1147 = 1 %}
{% assign x1148 = 1 %}
{% assign x1149 = 1 %}
{% assign x1150 = 1 %}
{% assign x1151 = 1 %}
{% assign x1152 = 1 %}
{% assign x1153 = 1 %}
{% assign x1154 = 1 %}
{% assign x1155 = 1 %}
{% assign x1156 = 1 %}
{% assign x1157 = 1 %}
{% assign x1158 = 1 %}
{% assign x1159 = 1 %}
{% assign x1160 = 1 %}
{% assign x1161 = 1 %}
{% assign x1162 = 1 %}
{% assign x1163 = 1 %}
{% assign x1164 = 1 %}
{% assign x1165 = 1 %}
{% assign x1166 = 1 %}
{% assign x1167 = 1 %}
{% assign x1168 = 1 %}
{% assign x1169 = 1 %}
{% assign x1170 = 1 %}
{% assign x1171 = 1 %}
{% assign x1172 = 1 %}
{% assign x1173 = 1 %}
{% assign x1174 = 1 %}
{% assign x1175 = 1 %}
{% assign x1176 = 1 %}
{% assign x1177 = 1 %}
{% assign x1178 = 1 %}
{% assign x1179 = 1 %}
{% assign x1180 = 1 %}
{% assign x1181 = 1 %}
{% assign x1182 = 1 %}
{% assign x1183 = 1 %}
{% assign x1184 = 1 %}
{% assign x1185 = 1 %}
{% assign x1186 = 1 %}
{% assign x1187 = 1 %}
{% assign x1188 = 1 %}
{% assign x1189 = 1 %}
{% assign x1190 = 1 %}
{% assign x1191 = 1 %}
{% assign x1192 = 1 %}
{% assign x1193 = 1 %}
{% assign x1194 = 1 %}
{% assign x1195 = 1 %}
{% assign x1196 = 1 %}
{% assign x1197 = 1 %}
{% assign x1198 = 1 %}
{% assign x1199 = 1 %}
{% assign x1200 = 1 %}
{% assign x1201 = 1 %}
{% assign x1202 = 1 %}
{% assign x1203 = 1 %}
{% assign x1204 = 1 %}
{% assign x1205 = 1 %}
{% assign x1206 = 1 %}
{% assign x1207 = 1 %}
{% assign x1208 = 1 %}
{% assign x1209 = 1 %}
{% assign x1210 = 1 %}
{% assign x1211 = 1 %}
{% assign x1212 = 1 %}
{% assign x1213 = 1 %}
{% assign x1214 = 1 %}
{% assign x1215 = 1 %}
{% assign x1216 = 1 %}
{% assign x1217 = 1 %}
{% assign x1218 = 1 %}
{% assign x1219 = 1 %}
{% assign x1220 = 1 %}
{% assign x1221 = 1 %}
{% assign x1222 = 1 %}
{% assign x1223 = 1 %}
{% assign x1224 = 1 %}
{% assign x1225 = 1 %}
{% assign x1226 = 1 %}
{% assign x1227 = 1 %}
{% assign x1228 = 1 %}
{% assign x1229 = 1 %}
{% assign x1230 = 1 %}
{% assign x1231 = 1 %}
{% assign x1232 = 1 %}
{% assign x1233 = 1 %}
{% assign x1234 = 1 %}
{% assign x1235 = 1 %}
{% assign x1236 = 1 %}
{% assign x1237 = 1 %}
{% assign x1238 = 1 %}
{% assign x1239 = 1 %}
{% assign x1240 = 1 %}
{% assign x1241 = 1 %}
{% assign x1242 = 1 %}
{% assign x1243 = 1 %}
{% assign x1244 = 1 %}
{% assign x1245 = 1 %}
{% assign x1246 = 1 %}
{% assign x1247 = 1 %}
{% assign x1248 = 1 %}
{% assign x1249 = 1 %}
{% assign x1250 = 1 %}
{% assign x1251 = 1 %}
{% assign x1252 = 1 %}
{% assign x1253 = 1 %}
{% assign x1254 = 1 %}
{% assign x1255 = 1 %}
{% assign x1256 = 1 %}
{% assign x1257 = 1 %}
{% assign x1258 = 1 %}
{% assign x1259 = 1 %}
{% assign x1260 = 1 %}
{% assign x1261 = 1 %}
{% assign x1262 = 1 %}
{% assign x1263 = 1 %}
{% assign x1264 = 1 %}
{% assign x1265 = 1 %}
{% assign x1266 = 1 %}
{% assign x1267 = 1 %}
{% assign x1268 = 1 %}
{% assign x1269 = 1 %}
{% assign x1270 = 1 %}
{% assign x1271 = 1 %}
{% assign x1272 = 1 %}
{% assign x1273 = 1 %}
{% assign x1274 = 1 %}
{% assign x1275 = 1 %}
{% assign x1276 = 1 %}
{% assign x1277 = 1 %}
{% assign x1278 = 1 %}
{% assign x1279 = 1 %}
{% assign x1280 = 1 %}
{% assign x1281 = 1 %}
{% assign x1282 = 1 %}
{% assign x1283 = 1 %}
{% assign x1284 = 1 %}
{% assign x1285 = 1 %}
{% assign x1286 = 1 %}
{% assign x1287 = 1 %}
{% assign x1288 = 1 %}
{% assign x1289 = 1 %}
{% assign x1290 = 1 %}
{% assign x1291 = 1 %}
{% assign x1292 = 1 %}
{% assign x1293 = 1 %}
{% assign x1294 = 1 %}
{% assign x1295 = 1 %}
{% assign x1296 = 1 %}
{% assign x1297 = 1 %}
{% assign x1298 = 1 %}
{% assign x1299 = 1 %}
{% assign x1300 = 1 %}
{% assign x1301 = 1 %}
{% assign x1302 = 1 %}
{% assign x1303 = 1 %}
{% assign x1304 = 1 %}
{% assign x1305 = 1 %}
{% assign x1306 = 1 %}
{% assign x1307 = 1 %}
{% assign x1308 = 1 %}
{% assign x1309 = 1 %}
{% assign x1310 = 1 %}
{% assign x1311 = 1 %}
{% assign x1312 = 1 %}
{% assign x1313 = 1 %}
{% assign x1314 = 1 %}
{% assign x1315 = 1 %}
{% assign x1316 = 1 %}
{% assign x1317 = 1 %}
{% assign x1318 = 1 %}
{% assign x1319 = 1 %}
{% assign x1320 = 1 %}
{% assign x1321 = 1 %}
{% assign x1322 = 1 %}
{% assign x1323 = 1 %}
{% assign x1324 = 1 %}
{% assign x1325 = 1 %}
{% assign x1326 = 1 %}
{% assign x1327 = 1 %}
{% assign x1328 = 1 %}
{% assign x1329 = 1 %}
{% assign x1330 = 1 %}
{% assign x1331 = 1 %}
{% assign x1332 = 1 %}
{% assign x1333 = 1 %}
{% assign x1334 = 1 %}
{% assign x1335 = 1 %}
{% assign x1336 = 1 %}
{% assign x1337 = 1 %}
{% assign x1338 = 1 %}
{% assign x1339 = 1 %}
{% assign x1340 = 1 %}
{% assign x1341 = 1 %}
{% assign x1342 = 1 %}
{% assign x1343 = 1 %}
{% assign x1344 = 1 %}
{% assign x1345 = 1 %}
{% assign x1346 = 1 %}
{% assign x1347 = 1 %}
{% assign x1348 = 1 %}
{% assign x1349 = 1 %}
{% assign x1350 = 1 %}
{% assign x1351 = 1 %}
{% assign x1352 = 1 %}
{% assign x1353 = 1 %}
{% assign x1354 = 1 %}
{% assign x1355 = 1 %}
{% assign x1356 = 1 %}
{% assign x1357 = 1 %}
{% assign x1358 = 1 %}
{% assign x1359 = 1 %}
{% assign x1360 = 1 %}
{% assign x1361 = 1 %}
{% assign x1362 = 1 %}
{% assign x1363 = 1 %}
{% assign x1364 = 1 %}
{% assign x1365 = 1 %}
{% assign x1366 = 1 %}
{% assign x1367 = 1 %}
{% assign x1368 = 1 %}
{% assign x1369 = 1 %}
{% assign x1370 = 1 %}
{% assign x1371 = 1 %}
{% assign x1372 = 1 %}
{% assign x1373 = 1 %}
{% assign x1374 = 1 %}
{% assign x1375 = 1 %}
{% assign x1376 = 1 %}
{% assign x1377 = 1 %}
{% assign x1378 = 1 %}
{% assign x1379 = 1 %}
{% assign x1380 = 1 %}
{% assign x1381 = 1 %}
{% assign x1382 = 1 %}
{% assign x1383 = 1 %}
{% assign x1384 = 1 %}
{% assign x1385 = 1 %}
{% assign x1386 = 1 %}
{% assign x1387 = 1 %}
{% assign x1388 = 1 %}
{% assign x1389 = 1 %}
{% assign x1390 = 1 %}
{% assign x1391 = 1 %}
{% assign x1392 = 1 %}
{% assign x1393 = 1 %}
{% assign x1394 = 1 %}
{% assign x1395 = 1 %}
{% assign x1396 = 1 %}
{% assign x1397 = 1 %}
{% assign x1398 = 1 %}
{% assign x1399 = 1 %}
{% assign x1400 = 1 %}
{% assign x1401 = 1 %}
{% assign x1402 = 1 %}
{% assign x1403 = 1 %}
{% assign x1404 = 1 %}
{% assign x1405 = 1 %}
{% assign x1406 = 1 %}
{% assign x1407 = 1 %}
{% assign x1408 = 1 %}
{% assign x1409 = 1 %}
{% assign x1410 = 1 %}
{% assign x1411 = 1 %}
{% assign x1412 = 1 %}
{% assign x1413 = 1 %}
{% assign x1414 = 1 %}
{% assign x1415 = 1 %}
{% assign x1416 = 1 %}
{% assign x1417 = 1 %}
{% assign x1418 = 1 %}
{% assign x1419 = 1 %}
{% assign x1420 = 1 %}
{% assign x1421 = 1 %}
{% assign x1422 = 1 %}
{% assign x1423 = 1 %}
{% assign x1424 = 1 %}
{% assign x1425 = 1 %}
{% assign x1426 = 1 %}
{% assign x1427 = 1 %}
{% assign x1428 = 1 %}
{% assign x1429 = 1 %}
{% assign x1430 = 1 %}
{% assign x1431 = 1 %}
{% assign x1432 = 1 %}
{% assign x1433 = 1 %}
{% assign x1434 = 1 %}
{% assign x1435 = 1 %}
{% assign x1436 = 1 %}
{% assign x1437 = 1 %}
{% assign x1438 = 1 %}
{% assign x1439 = 1 %}
{% assign x1440 = 1 %}
{% assign x1441 = 1 %}
{% assign x1442 = 1 %}
{% assign x1443 = 1 %}
{% assign x1444 = 1 %}
{% assign x1445 = 1 %}
{% assign x1446 = 1 %}
{% assign x1447 = 1 %}
{% assign x1448 = 1 %}
{% assign x1449 = 1 %}
{% assign x1450 = 1 %}
{% assign x1451 = 1 %}
{% assign x1452 = 1 %}
{% assign x1453 = 1 %}
{% assign x1454 = 1 %}
{% assign x1455 = 1 %}
{% assign x1456 = 1 %}
{% assign x1457 = 1 %}
{% assign x1458 = 1 %}
{% assign x1459 = 1 %}
{% assign x1460 = 1 %}
{% assign x1461 = 1 %}
{% assign x1462 = 1 %}
{% assign x1463 = 1 %}
{% assign x1464 = 1 %}
{% assign x1465 = 1 %}
{% assign x1466 = 1 %}
{% assign x1467 = 1 %}
{% assign x1468 = 1 %}
{% assign x1469 = 1 %}
{% assign x1470 = 1 %}
{% assign x1471 = 1 %}
{% assign x1472 = 1 %}
{% assign x1473 = 1 %}
{% assign x1474 = 1 %}
{% assign x1475 = 1 %}
{% assign x1476 = 1 %}
{% assign x1477 = 1 %}
{% assign x1478 = 1 %}
{% assign x1479 = 1 %}
{% assign x1480 = 1 %}
{% assign x1481 = 1 %}
{% assign x1482 = 1 %}
{% assign x1483 = 1 %}
{% assign x1484 = 1 %}
{% assign x1485 = 1 %}
{% assign x1486 = 1 %}
{% assign x1487 = 1 %}
{% assign x1488 = 1 %}
{% assign x1489 = 1 %}
{% assign x1490 = 1 %}
{% assign x1491 = 1 %}
{% assign x1492 = 1 %}
{% assign x1493 = 1 %}
{% assign x1494 = 1 %}
{% assign x1495 = 1 %}
{% assign x1496 = 1 %}
{% assign x1497 = 1 %}
{% assign x1498 = 1 %}
{% assign x1499 = 1 %}
{% assign x1500 = 1 %}
{% assign x1501 = 1 %}
{% assign x1502 = 1 %}
{% assign x1503 = 1 %}
{% assign x1504 = 1 %}
{% assign x1505 = 1 %}
{% assign x1506 = 1 %}
{% assign x1507 = 1 %}
{% assign x1508 = 1 %}
{% assign x1509 = 1 %}
{% assign x1510 = 1 %}
{% assign x1511 = 1 %}
{% assign x1512 = 1 %}
{% assign x1513 = 1 %}
{% assign x1514 = 1 %}
{% assign x1515 = 1 %}
{% assign x1516 = 1 %}
{% assign x1517 = 1 %}
{% assign x1518 = 1 %}
{% assign x1519 = 1 %}
{% assign x1520 = 1 %}
{% assign x1521 = 1 %}
{% assign x1522 = 1 %}
{% assign x1523 = 1 %}
{% assign x1524 = 1 %}
{% assign x1525 = 1 %}
{% assign x1526 = 1 %}
{% assign x1527 = 1 %}
{% assign x1528 = 1 %}
{% assign x1529 = 1 %}
{% assign x1530 = 1 %}
{% assign x1531 = 1 %}
{% assign x1532 = 1 %}
{% assign x1533 = 1 %}
{% assign x1534 = 1 %}
{% assign x1535 = 1 %}
{% assign x1536 = 1 %}
{% assign x1537 = 1 %}
{% assign x1538 = 1 %}
{% assign x1539 = 1 %}
{% assign x1540 = 1 %}
{% assign x1541 = 1 %}
{% assign x1542 = 1 %}
{% assign x1543 = 1 %}
{% assign x1544 = 1 %}
{% assign x1545 = 1 %}
{% assign x1546 = 1 %}
{% assign x1547 = 1 %}
{% assign x1548 = 1 %}
{% assign x1549 = 1 %}
{% assign x1550 = 1 %}
{% assign x1551 = 1 %}
{% assign x1552 = 1 %}
{% assign x1553 = 1 %}
{% assign x1554 = 1 %}
{% assign x1555 = 1 %}
{% assign x1556 = 1 %}
{% assign x1557 = 1 %}
{% assign x1558 = 1 %}
{% assign x1559 = 1 %}
{% assign x1560 = 1 %}
{% assign x1561 = 1 %}
{% assign x1562 = 1 %}
{% assign x1563 = 1 %}
{% assign x1564 = 1 %}
{% assign x1565 = 1 %}
{% assign x1566 = 1 %}
{% assign x1567 = 1 %}
{% assign x1568 = 1 %}
{% assign x1569 = 1 %}
{% assign x1570 = 1 %}
{% assign x1571 = 1 %}
{% assign x1572 = 1 %}
{% assign x1573 = 1 %}
{% assign x1574 = 1 %}
{% assign x1575 = 1 %}
{% assign x1576 = 1 %}
{% assign x1577 = 1 %}
{% assign x1578 = 1 %}
{% assign x1579 = 1 %}
{% assign x1580 = 1 %}
{% assign x1581 = 1 %}
{% assign x1582 = 1 %}
{% assign x1583 = 1 %}
{% assign x1584 = 1 %}
{% assign x1585 = 1 %}
{% assign x1586 = 1 %}
{% assign x1587 = 1 %}
{% assign x1588 = 1 %}
{% assign x1589 = 1 %}
{% assign x1590 = 1 %}
{% assign x1591 = 1 %}
{% assign x1592 = 1 %}
{% assign x1593 = 1 %}
{% assign x1594 = 1 %}
{% assign x1595 = 1 %}
{% assign x1596 = 1 %}
{% assign x1597 = 1 %}
{% assign x1598 = 1 %}
{% assign x1599 = 1 %}
{% assign x1600 = 1 %}
{% assign x1601 = 1 %}
{% assign x1602 = 1 %}
{% assign x1603 = 1 %}
{% assign x1604 = 1 %}
{% assign x1605 = 1 %}
{% assign x1606 = 1 %}
{% assign x1607 = 1 %}
{% assign x1608 = 1 %}
{% assign x1609 = 1 %}
{% assign x1610 = 1 %}
{% assign x1611 = 1 %}
{% assign x1612 = 1 %}
{% assign x1613 = 1 %}
{% assign x1614 = 1 %}
{% assign x1615 = 1 %}
{% assign x1616 = 1 %}
{% assign x1617 = 1 %}
{% assign x1618 = 1 %}
{% assign x1619 = 1 %}
{% assign x1620 = 1 %}
{% assign x1621 = 1 %}
{% assign x1622 = 1 %}
{% assign x1623 = 1 %}
{% assign x1624 = 1 %}
{% assign x1625 = 1 %}
{% assign x1626 = 1 %}
{% assign x1627 = 1 %}
{% assign x1628 = 1 %}
{% assign x1629 = 1 %}
{% assign x1630 = 1 %}
{% assign x1631 = 1 %}
{% assign x1632 = 1 %}
{% assign x1633 = 1 %}
{% assign x1634 = 1 %}
{% assign x1635 = 1 %}
{% assign x1636 = 1 %}
{% assign x1637 = 1 %}
{% assign x1638 = 1 %}
{% assign x1639 = 1 %}
{% assign x1640 = 1 %}
{% assign x1641 = 1 %}
{% assign x1642 = 1 %}
{% assign x1643 = 1 %}
{% assign x1644 = 1 %}
{% assign x1645 = 1 %}
{% assign x1646 = 1 %}
{% assign x1647 = 1 %}
{% assign x1648 = 1 %}
{% assign x1649 = 1 %}
{% assign x1650 = 1 %}
{% assign x1651 = 1 %}
{% assign x1652 = 1 %}
{% assign x1653 = 1 %}
{% assign x1654 = 1 %}
{% assign x1655 = 1 %}
{% assign x1656 = 1 %}
{% assign x1657 = 1 %}
{% assign x1658 = 1 %}
{% assign x1659 = 1 %}
{% assign x1660 = 1 %}
{% assign x1661 = 1 %}
{% assign x1662 = 1 %}
{% assign x1663 = 1 %}
{% assign x1664 = 1 %}
{% assign x1665 = 1 %}
{% assign x1666 = 1 %}
{% assign x1667 = 1 %}
{% assign x1668 = 1 %}
{% assign x1669 = 1 %}
{% assign x1670 = 1 %}
{% assign x1671 = 1 %}
{% assign x1672 = 1 %}
{% assign x1673 = 1 %}
{% assign x1674 = 1 %}
{% assign x1675 = 1 %}
{% assign x1676 = 1 %}
{% assign x1677 = 1 %}
{% assign x1678 = 1 %}
{% assign x1679 = 1 %}
{% assign x1680 = 1 %}
{% assign x1681 = 1 %}
{% assign x1682 = 1 %}
{% assign x1683 = 1 %}
{% assign x1684 = 1 %}
{% assign x1685 = 1 %}
{% assign x1686 = 1 %}
{% assign x1687 = 1 %}
{% assign x1688 = 1 %}
{% assign x1689 = 1 %}
{% assign x1690 = 1 %}
{% assign x1691 = 1 %}
{% assign x1692 = 1 %}
{% assign x1693 = 1 %}
{% assign x1694 = 1 %}
{% assign x1695 = 1 %}
{% assign x1696 = 1 %}
{% assign x1697 = 1 %}
{% assign x1698 = 1 %}
{% assign x1699 = 1 %}
{% assign x1700 = 1 %}
{% assign x1701 = 1 %}
{% assign x1702 = 1 %}
{% assign x1703 = 1 %}
{% assign x1704 = 1 %}
{% assign x1705 = 1 %}
{% assign x1706 = 1 %}
{% assign x1707 = 1 %}
{% assign x1708 = 1 %}
{% assign x1709 = 1 %}
{% assign x1710 = 1 %}
{% assign x1711 = 1 %}
{% assign x1712 = 1 %}
{% assign x1713 = 1 %}
{% assign x1714 = 1 %}
{% assign x1715 = 1 %}
{% assign x1716 = 1 %}
{% assign x1717 = 1 %}
{% assign x1718 = 1 %}
{% assign x1719 = 1 %}
{% assign x1720 = 1 %}
{% assign x1721 = 1 %}
{% assign x1722 = 1 %}
{% assign x1723 = 1 %}
{% assign x1724 = 1 %}
{% assign x1725 = 1 %}
{% assign x1726 = 1 %}
{% assign x1727 = 1 %}
{% assign x1728 = 1 %}
{% assign x1729 = 1 %}
{% assign x1730 = 1 %}
{% assign x1731 = 1 %}
{% assign x1732 = 1 %}
{% assign x1733 = 1 %}
{% assign x1734 = 1 %}
{% assign x1735 = 1 %}
{% assign x1736 = 1 %}
{% assign x1737 = 1 %}
{% assign x1738 = 1 %}
{% assign x1739 = 1 %}
{% assign x1740 = 1 %}
{% assign x1741 = 1 %}
{% assign x1742 = 1 %}
{% assign x1743 = 1 %}
{% assign x1744 = 1 %}
{% assign x1745 = 1 %}
{% assign x1746 = 1 %}
{% assign x1747 = 1 %}
{% assign x1748 = 1 %}
{% assign x1749 = 1 %}
{% assign x1750 = 1 %}
{% assign x1751 = 1 %}
{% assign x1752 = 1 %}
{% assign x1753 = 1 %}
{% assign x1754 = 1 %}
{% assign x1755 = 1 %}
{% assign x1756 = 1 %}
{% assign x1757 = 1 %}
{% assign x1758 = 1 %}
{% assign x1759 = 1 %}
{% assign x1760 = 1 %}
{% assign x1761 = 1 %}
{% assign x1762 = 1 %}
{% assign x1763 = 1 %}
{% assign x1764 = 1 %}
{% assign x1765 = 1 %}
{% assign x1766 = 1 %}
{% assign x1767 = 1 %}
{% assign x1768 = 1 %}
{% assign x1769 = 1 %}
{% assign x1770 = 1 %}
{% assign x1771 = 1 %}
{% assign x1772 = 1 %}
{% assign x1773 = 1 %}
{% assign x1774 = 1 %}
{% assign x1775 = 1 %}
{% assign x1776 = 1 %}
{% assign x1777 = 1 %}
{% assign x1778 = 1 %}
{% assign x1779 = 1 %}
{% assign x1780 = 1 %}
{% assign x1781 = 1 %}
{% assign x1782 = 1 %}
{% assign x1783 = 1 %}
{% assign x1784 = 1 %}
{% assign x1785 = 1 %}
{% assign x1786 = 1 %}
{% assign x1787 = 1 %}
{% assign x1788 = 1 %}
{% assign x1789 = 1 %}
{% assign x1790 = 1 %}
{% assign x1791 = 1 %}
{% assign x1792 = 1 %}
{% assign x1793 = 1 %}
{% assign x1794 = 1 %}
{% assign x1795 = 1 %}
{% assign x1796 = 1 %}
{% assign x1797 = 1 %}
{% assign x1798 = 1 %}
{% assign x1799 = 1 %}
{% assign x1800 = 1 %}
{% assign x1801 = 1 %}
{% assign x1802 = 1 %}
{% assign x1803 = 1 %}
{% assign x1804 = 1 %}
{% assign x1805 = 1 %}
{% assign x1806 = 1 %}
{% assign x1807 = 1 %}
{% assign x1808 = 1 %}
{% assign x1809 = 1 %}
{% assign x1810 = 1 %}
{% assign x1811 = 1 %}
{% assign x1812 = 1 %}
{% assign x1813 = 1 %}
{% assign x1814 = 1 %}
{% assign x1815 = 1 %}
{% assign x1816 = 1 %}
{% assign x1817 = 1 %}
{% assign x1818 = 1 %}
{% assign x1819 = 1 %}
{% assign x1820 = 1 %}
{% assign x1821 = 1 %}
{% assign x1822 = 1 %}
{% assign x1823 = 1 %}
{% assign x1824 = 1 %}
{% assign x1825 = 1 %}
{% assign x1826 = 1 %}
{% assign x1827 = 1 %}
{% assign x1828 = 1 %}
{% assign x1829 = 1 %}
{% assign x1830 = 1 %}
{% assign x1831 = 1 %}
{% assign x1832 = 1 %}
{% assign x1833 = 1 %}
{% assign x1834 = 1 %}
{% assign x1835 = 1 %}
{% assign x1836 = 1 %}
{% assign x1837 = 1 %}
{% assign x1838 = 1 %}
{% assign x1839 = 1 %}
{% assign x1840 = 1 %}
{% assign x1841 = 1 %}
{% assign x1842 = 1 %}
{% assign x1843 = 1 %}
{% assign x1844 = 1 %}
{% assign x1845 = 1 %}
{% assign x1846 = 1 %}
{% assign x1847 = 1 %}
{% assign x1848 = 1 %}
{% assign x1849 = 1 %}
{% assign x1850 = 1 %}
{% assign x1851 = 1 %}
{% assign x1852 = 1 %}
{% assign x1853 = 1 %}
{% assign x1854 = 1 %}
{% assign x1855 = 1 %}
{% assign x1856 = 1 %}
{% assign x1857 = 1 %}
{% assign x1858 = 1 %}
{% assign x1859 = 1 %}
{% assign x1860 = 1 %}
{% assign x1861 = 1 %}
{% assign x1862 = 1 %}
{% assign x1863 = 1 %}
{% assign x1864 = 1 %}
{% assign x1865 = 1 %}
{% assign x1866 = 1 %}
{% assign x1867 = 1 %}
{% assign x1868 = 1 %}
{% assign x1869 = 1 %}
{% assign x1870 = 1 %}
{% assign x1871 = 1 %}
{% assign x1872 = 1 %}
{% assign x1873 = 1 %}
{% assign x1874 = 1 %}
{% assign x1875 = 1 %}
{% assign x1876 = 1 %}
{% assign x1877 = 1 %}
{% assign x1878 = 1 %}
{% assign x1879 = 1 %}
{% assign x1880 = 1 %}
{% assign x1881 = 1 %}
{% assign x1882 = 1 %}
{% assign x1883 = 1 %}
{% assign x1884 = 1 %}
{% assign x1885 = 1 %}
{% assign x1886 = 1 %}
{% assign x1887 = 1 %}
{% assign x1888 = 1 %}
{% assign x1889 = 1 %}
{% assign x1890 = 1 %}
{% assign x1891 = 1 %}
{% assign x1892 = 1 %}
{% assign x1893 = 1 %}
{% assign x1894 = 1 %}
{% assign x1895 = 1 %}
{% assign x1896 = 1 %}
{% assign x1897 = 1 %}
{% assign x1898 = 1 %}
{% assign x1899 = 1 %}
{% assign x1900 = 1 %}
{% assign x1901 = 1 %}
{% assign x1902 = 1 %}
{% assign x1903 = 1 %}
{% assign x1904 = 1 %}
{% assign x1905 = 1 %}
{% assign x1906 = 1 %}
{% assign x1907 = 1 %}
{% assign x1908 = 1 %}
{% assign x1909 = 1 %}
{% assign x1910 = 1 %}
{% assign x1911 = 1 %}
{% assign x1912 = 1 %}
{% assign x1913 = 1 %}
{% assign x1914 = 1 %}
{% assign x1915 = 1 %}
{% assign x1916 = 1 %}
{% assign x1917 = 1 %}
{% assign x1918 = 1 %}
{% assign x1919 = 1 %}
{% assign x1920 = 1 %}
{% assign x1921 = 1 %}
{% assign x1922 = 1 %}
{% assign x1923 = 1 %}
{% assign x1924 = 1 %}
{% assign x1925 = 1 %}
{% assign x1926 = 1 %}
{% assign x1927 = 1 %}
{% assign x1928 = 1 %}
{% assign x1929 = 1 %}
{% assign x1930 = 1 %}
{% assign x1931 = 1 %}
{% assign x1932 = 1 %}
{% assign x1933 = 1 %}
{% assign x1934 = 1 %}
{% assign x1935 = 1 %}
{% assign x1936 = 1 %}
{% assign x1937 = 1 %}
{% assign x1938 = 1 %}
{% assign x1939 = 1 %}
{% assign x1940 = 1 %}
{% assign x1941 = 1 %}
{% assign x1942 = 1 %}
{% assign x1943 = 1 %}
{% assign x1944 = 1 %}
{% assign x1945 = 1 %}
{% assign x1946 = 1 %}
{% assign x1947 = 1 %}
{% assign x1948 = 1 %}
{% assign x1949 = 1 %}
{% assign x1950 = 1 %}
{% assign x1951 = 1 %}
{% assign x1952 = 1 %}
{% assign x1953 = 1 %}
{% assign x1954 = 1 %}
{% assign x1955 = 1 %}
{% assign x1956 = 1 %}
{% assign x1957 = 1 %}
{% assign x1958 = 1 %}
{% assign x1959 = 1 %}
{% assign x1960 = 1 %}
{% assign x1961 = 1 %}
{% assign x1962 = 1 %}
{% assign x1963 = 1 %}
{% assign x1964 = 1 %}
{% assign x1965 = 1 %}
{% assign x1966 = 1 %}
{% assign x1967 = 1 %}
{% assign x1968 = 1 %}
{% assign x1969 = 1 %}
{% assign x1970 = 1 %}
{% assign x1971 = 1 %}
{% assign x1972 = 1 %}
{% assign x1973 = 1 %}
{% assign x1974 = 1 %}
{% assign x1975 = 1 %}
{% assign x1976 = 1 %}
{% assign x1977 = 1 %}
{% assign x1978 = 1 %}
{% assign x1979 = 1 %}
{% assign x1980 = 1 %}
{% assign x1981 = 1 %}
{% assign x1982 = 1 %}
{% assign x1983 = 1 %}
{% assign x1984 = 1 %}
{% assign x1985 = 1 %}
{% assign x1986 = 1 %}
{% assign x1987 = 1 %}
{% assign x1988 = 1 %}
{% assign x1989 = 1 %}
{% assign x1990 = 1 %}
{% assign x1991 = 1 %}
{% assign x1992 = 1 %}
{% assign x1993 = 1 %}
{% assign x1994 = 1 %}
{% assign x1995 = 1 %}
{% assign x1996 = 1 %}
{% assign x1997 = 1 %}
{% assign x1998 = 1 %}
{% assign x1999 = 1 %}
{% assign x2000 = 1 %}
{% assign x2001 = 1 %}

{%- if article and article != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio != nil
      assign ratio = media_aspect_ratio
    endif
  -%}
  <div class="card-wrapper underline-links-hover">
    {% comment %} <article aria-labelledby="Article-{{ article.id }}"> {% endcomment %}
    <div class="card article-card
      card--{{ settings.card_style }}
      {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% endif %}
      {% if article.image and show_image %} card--media{% else %} card--text{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}
      {% if settings.card_style == 'card' and media_height == nil and article.image == empty or show_image == false %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }}{% endif %}{% if article.image and show_image or settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if show_image == true and article.image -%}
          <div class="article-card__image-wrapper card__media">
            <div class="article-card__image media media--hover-effect" {% if section.settings.media_height == 'adapt' %} style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"{% endif %}>
              <img
                srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w"
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">        
          <div class="card__information">
            <h3 class="card__heading{% if show_excerpt %} h2{% endif %}">
              <a href="{{ article.url }}" class="full-unstyled-link">
                {{ article.title | truncate: 50 | escape }}
              </a>
            </h3>
            <div class="article-card__info caption-with-letter-spacing h5">
              {%- if show_date -%}
                <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
              {%- endif -%}
              {%- if show_author -%}
                <span>{{ article.author }}</span>
              {%- endif -%}
            </div>
            {%- if show_excerpt -%}
              {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                <p class="article-card__excerpt rte-width">
                  {%- if article.excerpt.size > 0 -%}
                    {{ article.excerpt | strip_html | truncatewords: 30 }}
                  {%- else -%}
                    {{ article.content | strip_html | truncatewords: 30 }}
                  {%- endif -%}
                </p>
              {%- endif -%}
              <div class="article-card__footer">
                {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                  <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
          {%- if show_badge -%}
            <div class="card__badge {{ settings.badge_position }}">
              <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if show_excerpt %} h2{% endif %}">
            <a href="{{ article.url }}" class="full-unstyled-link">
              {{ article.title | truncate: 50 | escape }}
            </a>
          </h3>
          <div class="article-card__info caption-with-letter-spacing h5">
            {%- if show_date -%}
              <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
            {%- endif -%}
            {%- if show_author -%}
              <span>{{ article.author }}</span>
            {%- endif -%}
          </div>
          {%- if show_excerpt -%}
            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
              <p class="article-card__excerpt rte-width">
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html | truncatewords: 30 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 30 }}
                {%- endif -%}
              </p>
            {%- endif -%}
            <div class="article-card__footer">
              {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
        {%- if show_badge -%}
          <div class="card__badge {{ settings.badge_position }}">
            <span class="badge color-background-1">{{ 'blogs.article.blog' | t }}</span>
          </div>
        {%- endif -%}  
      </div>
    </div>
  </div>
{%- endif -%}
